<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de pendientes</title>
    <style>
        body {
            background-color: #DCFFF4;
        }

        .container{
            max-width: 550px;
            margin: auto;
            background-color: #CAF2E6;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
            box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        
        {% endblock content %}
</body>
</html>