{% extends "base/principal.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href={% url "logout" %}>Salir</a>
{% else %}
    <a href="{% url 'login' %}">Ingresar</a>
{% endif %}
<hr>  

<h1>Lista de pendientes</h1>
<a href='{% url 'crear-tarea' %}'>Crear nueva tarea</a>

<form method="GET">
    <input type="text" name="area-buscar" value="{{valor_buscado}}">
    <input type="submit" value="Buscar">
</form>



<table>
    <tr>
        <th>Elementos</th>
        <th></th>
        <th></th>
    </tr>

    {% for tarea in tareas %}

    <tr>
        <td>{{tarea.titulo}}</td>
        <td><a href="{% url 'editar-tarea' tarea.id %}">Editar</a></td>
        <td><a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a></td>
    </tr>

    {% empty %}
    <h3>No hay elementos en esta lista</h3>
    
    {% endfor %}

    
</table>

{% endblock content %}